@{
    ViewBag.Title = "GPA Calculator";
}


<script src="~/Scripts/gpa.js">
</script>


<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Welcome to my GPA Calc.</p>


    <form name=GPACalc action="">
        <div class="row">
            <div class="col-md-4"><p><strong>Class Name</strong><br /><em>Example: CS 101</em></p></div>
            <div class="col-md-4"><p><strong>Hours for course</strong><br /><em>3</em></p></div>
            <div class="col-md-4"><p><strong>Grade</strong><br /><em>C+</em></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course1 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours1 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade1 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course2 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours2 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade2 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course3 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours3 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade3 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course4 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours4 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade4 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course5 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours5 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade5 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course6 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours6 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade6 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course7 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours7 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade7 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course8 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours8 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade8 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course9 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours9 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade9 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=Course10 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Hours10 defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=Grade10 defaultValue="" /></p></div>
            <div class="clearfix visible-md-block"></div>
            <p><input type=button class="btn btn-primary btn-lg" name=SemCalc value="Calculate Semester GPA" onClick="CalcSem()"></p>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><strong>Attempted Hours</strong></p></div>
            <div class="col-md-4"><p><strong>Quality Points</strong></p></div>
            <div class="col-md-4"><p><strong>Semester Gpa</strong></p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4"><p><input size="15" name=TotalQHrs defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=TotalQPts defaultValue="" /></p></div>
            <div class="col-md-4"><p><input size="15" name=SemesterGPA defaultValue="" /></p></div>

        </div>
    </form>




    <p>&nbsp;<p><hr><font size="-1">University of Alabama GPA Calc</font>











</div>








<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Open an account with us
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Log In</h2>
        <p>Access your existing account</p>
        <p>@Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
</div>


@section scripts {
    <script>var testing = true;</script>

}
